.products-banner {
  width: 100%;
  height: 42rem;
  position: relative;
  overflow: hidden;

  .row {
    width: 80%;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;

    &-text {
      height: 5rem;
      top: 88%;
      .header {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.7rem;
        animation: text-fade-in 1s ease;
        color: $white;
        text-shadow: 2px 2px 2px rgba($black, 0.5);
        transition: 0.4s ease;

        &:hover {
          color: $ice-color;
        }
      }
    }

    .product {
      width: 20vw;
      height: 100%;

      &-img {
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-40%);
        transition: all 0.4s ease;
        backface-visibility: hidden;

        &:hover {
          transform: scale(1.2) rotate(17deg) translateY(-10px);
          margin-bottom: 1rem;
        }
      }

      &-left {
        animation: left-fly-in 1s ease;
      }
      &-top {
        animation: top-fly-in 1s ease;
      }
      &-right {
        animation: right-fly-in 1s ease;
      }
    }
  }

  .streak {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background: url('../images/horizontal-planks.jpg');
    background-size: contain;
  }
}

.blue-background {
  background: linear-gradient(45deg, darken($secondary-color, 25%), $secondary-color, $ice-color);
}

.red-background {
  background-image: url(../images/background-red.png);
}

.black-background {
    background-image: url(../images/background-black.png);
}

.gold-background {
  background-image: url(../images/background-yellow.png);
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: inset 0 0 6rem 2rem rgba($black, 0.5);
  overflow: hidden;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.75;
  }

  .side-image {
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-image: url(../images/shield.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;

    @include respond(phone) {
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .side-content {
    height: 50rem;
    width: 30%;
    position: absolute;
    float: right;
    right: 0;
    top: 50%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    transform: translate(2rem, -50%);

    &-header {
      color: $white;
      font-size: 3rem;
      margin: 1rem 2rem;
    }

    &-text {
      color: $white;
      margin: 0 7rem 1rem 2rem;
      font-size: 2rem;
      font-weight: 300;

      a {
        color: $ice-color;
      }
    }

    @include respond(phone) {
      transform: none;
      width: 100%;
      height: 40rem;
      top: 60%;
    }
  }
}

.promotion {
  max-width: 135rem;
  margin: 4rem auto;

  .flex-row {
    width: 100%;
    height: 60rem; 
    color: $white;
    position: relative;
    display: flex;
    flex-direction: row;

    &-1 {
      flex: 1;
      background-color: $white;
      color: $font;

      @include respond(phone) {
      }
    }

    &-2 { 
      flex: 1;       
      background-image: url("../images/map.png");
      background-repeat: no-repeat;
      background-size: cover;
      background: $white;

      .inner_content {

        &-greeting {
          font-size: 2rem;
          text-align: center;
          padding: 3px;
          color: $primary-color;
        }
        &-zip {
          float: left;
          font-size: 1.3rem;
          text-transform: uppercase;
          margin: 1rem 0rem 1rem 13%;
          padding: 1rem;
          background: $secondary-color;
        }
        &-search {
          margin: 1rem 0rem;
          padding: 1rem;
        }
        &-button {
          margin: 1rem 0rem;
          padding: 1rem;
        }
      }

      @include respond(phone) {
        grid-column: 1;
        grid-row: 16/20;
      }
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.shield-fly-in {
  animation: shield-fly 1s ease-in;
  animation-fill-mode: forwards;
}
