.header {
  height: 15rem;
  width: 20rem;
  position: fixed;
  float: left;
  left: 1rem;
  top: 5px;
  top: 4%;
  z-index: 1;

  .nav {
    width: 7rem;
    height: 7rem;
    background-color: $primary-color;
    border-radius: 50%;
    backface-visibility: hidden;
    z-index: 3;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 2px 7px 4px rgba($black, 0.4);

      .child {
        box-shadow: 2px 3px 3px rgba($black, 0.4);
        &-icon {
          opacity: 1;
        }
      }
      .child-1 {
        left: 110%;
      }
      .child-2 {
        left: 90%;
        top: 90%;
      }
      .child-3 {
        top: 110%;
      }
    }

    .parent-icon {
      position: absolute;
      z-index: 3;
      left: 2.2rem;
      top: 2rem;
      font-size: 3rem;
      color: $white;
    }

    .child {
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 1rem;
      top: 1rem;
      border-radius: 50%;
      z-index: 1;
      background-color: $primary-color;
      transition: all 0.5s;

      &-icon {
        color: $white;
        position: absolute;
        opacity: 0;
        font-size: 2rem;

        &-1 {
          top: 1.4rem;
          left: 1.5rem;
        }
        &-2 {
          top: 1.4rem;
          left: 1.75rem;
        }
        &-3 {
          top: 1.4rem;
          left: 1.2rem;
        }
      }
    }
  }

}
