@keyframes left-fly-in {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes top-fly-in {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes right-fly-in {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
    margin-top: 10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes shield-fly {
  0% {
    transform: translate(-100%,  -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    transform: translateY(-100vh) scale(0.5);
    opacity: 0;
  }
  60% {
    transform: translateY(30px) scale(1.1);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px) scale(0.9);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
