.d-mobile {
    display: none;

    @include respond('phone') {
        display: block;
    }
}

.d-tablet {
    display: none;
    
    @include respond('tablet') {
        display: block;
    }
}

.d-desktop {
    display: none;
    
    @include respond('desktop') {
        display: block;
    }
}